

.App {
  text-align: center;
}


.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  background-image: url("../public/images/eaters-collective-12eHC6FxPyg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.menu-items {
  overflow: scroll;
}

.container {
  padding: 100px;
}

.row {
  padding: 20px;
}
